<p id="notice"><%= notice %></p>

<p>
  <b>Name:</b>
  <%= @biker.name %>
</p>

<p>
  <b>Bike:</b>
  <%= @biker.bike_id %>
</p>


<%= link_to 'Edit', edit_biker_path(@biker) %> |
<%= link_to 'Back', bikers_path %>
