<h1>Listing bikes</h1>

<table>
  <tr>
    <th>Model</th>
    <th>Desc</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @bikes.each do |bike| %>
  <tr>
    <td><%= bike.model %></td>
    <td><%= bike.desc %></td>
    <td><%= link_to 'Show', bike %></td>
    <td><%= link_to 'Edit', edit_bike_path(bike) %></td>
    <td><%= link_to 'Destroy', bike, :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Bike', new_bike_path %>
