<p id="notice"><%= notice %></p>

<p>
  <b>Model:</b>
  <%= @bike.model %>
</p>

<p>
  <b>Desc:</b>
  <%= @bike.desc %>
</p>


<%= link_to 'Edit', edit_bike_path(@bike) %> |
<%= link_to 'Back', bikes_path %>
